body{
    margin: 0px;
}
main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1%;
}
header{
    background-color: rgb(129, 113, 92);
    height: 50px;
    width: 100%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 5px 5px rgb(177, 177, 177);
    display: flex;
    justify-content: center;
}
a{
    text-decoration: none;
}
h1{
    margin: 7px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Arial;
    letter-spacing: 50px;
}
.contact-info{
    width: 60%;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgb(177, 177, 177);
    background-color: white;
}

.wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5% 0% 5% 5%;
    font-family:Arial;
    letter-spacing: 1px;
}
.fcontainer{
    width: 50%;
}
.scontainer{
    width: 50%;
}
.input-text{
    margin: 0% 0% 1% 0%;
    height: 1.5rem;
    width: 16rem;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 10px;
}
label{
    margin: 1% 0% 0% 0%;
    font-size: 1rem;
    font-weight: 500;
}
.input{
    margin: 1% 0% 1% 0%;
    width: 1rem;
    height: 1rem;
}
button{
    margin: 0% 0% 3% 35%;
    height: 3rem;
    width: 18rem;
    border-radius: 20px;
    font-size: 1rem;
    letter-spacing: 0.7px;
    font-weight: 500;
    border: none;
    background-color:rgb(129, 113, 92);
    color: white;
}
.back{
    margin: 0% 0% 0% 97.7%;
    font-size: 1.2rem;
    color: rgb(73, 57, 39);
}
.back:hover{
    color:red;
}
button:hover{
    background-color: rgb(73, 57, 39);
    box-shadow: 0px 2px 2px rgb(0, 0, 0);
}
#fnameerror,#lnameerror,#streeterror,#houseerror,#flaterror,#dateerror{
    color: rgb(255, 0, 0);
}
.invalid{
    color: rgb(255, 0, 0);
}
.result{
    font-family:Arial ;
    margin: 2% 0% 2% 5%;
}
.result1{
    font-weight: 600;
    font-size:1rem ;
}