.body{
    margin: 0px;
    background-color: rgb(245, 245, 245);
}
.header{
    background-color: rgb(129, 113, 92);
    height: 50px;
    width: 100%;
    box-shadow: 0px 5px 5px rgb(177, 177, 177);
    display: flex;
    justify-content: center;
}
h1{
    margin: 7px;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Arial;
    letter-spacing: 50px;
}
main{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.catalog{
    margin-left: 5%;
    width: 60%;
    margin-top: 20px;
    box-shadow: 0px 0px 10px rgb(177, 177, 177);
    background-color: white;
}
.order{
    margin-left: 3%;
    width: 30%;
    margin-top: 20px;
    background-color: rgb(245, 245, 245);
}
.book{
    display: flex;
    background-color:rgb(231, 231, 231);
    margin: 2%;
    flex-wrap: wrap;
    box-shadow: 0px 5px 5px rgb(126, 119, 111);
}
h2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 57, 39);
    color: azure;
    margin: 0px;
    height: 40px;
    box-shadow: 0px 2px 2px rgb(88, 80, 69);
    font-family: Arial;
}
.image{
    width: 30%;
    height: 90%;
    margin: 2% 0% 2% 2%;
    box-shadow: 1px 3px 2px rgb(88, 80, 69)
}
.info{
    margin:2% 0% 3% 5%;
    font-family:Arial;
    width: 63%;
}
.title{
    width: 80%;
    font-weight: 700;
    font-size: 1.85rem;
    margin: 10% 0% 10% 0%;
}
.author{
    font-family:monospace;
    font-weight:500;
    font-size: 1rem;
}
.price{
    font-size: 1rem;
    font-weight: 900;
    color: rgb(59, 59, 59);
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 10%;
}
.showmore,.addtobag{
    width: 120px;
    height: 50px;
    border-radius: 25px;
    font-weight: 700;
    font-size: 1rem;
    border: 0px;
    color: rgb(223, 219, 214);
}
.showmore{
    background-color:rgb(73, 57, 39);
}
.addtobag{
    background-color:rgb(81, 100, 60);
}
.orderImgLink{
    width: 100px;
    height: 130px;
}
.orderBook{
    display: flex;
    flex-direction: row;
    margin: 8px 2% 8px 2%;
    padding: 8px;
    background-color: rgb(231, 231, 231);
    font-family: Arial;
    box-shadow: 0px 2px 2px rgb(126, 119, 111);
}
.removeOrder,.infodiv button{
    width: 25px;
    height: 25px;
    background-color: rgb(231, 231, 231);
    border: 0px;
    font-size: 15px;
    color: rgb(73, 57, 39);
}
.orderinfo{
    margin-left: 2%;
    width: 70%;
}
.orderinfo p{
    margin: 0px 0px 10px 0px;
}
.orderAuthor{
    font-size: 12px;
}
.infodiv{
    display: flex;
    flex-direction: row-reverse;
}
.count{
    display: flex;
    flex-direction: row;
}
.count div, button{
    width: 25px;
    height: 25px;
}
.count div{
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:white;
    border-top: 1px solid rgb(129, 113, 92);
    border-bottom: 1px solid rgb(129, 113, 92);
}
.count button{
    background-color: rgb(129, 113, 92);
    color:rgb(255, 255, 255);
    border: 0px;
}
.orderplace{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:rgb(129, 113, 92) ;
    width:100%;
    height: 60px;
    color: white;
    font-size:20px ;
    font-family: Arial;
}
.orderplace  a{
    border: 2px solid white;
    padding: 8px;
    width: 70px;
    text-align: center;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}